@model FilmsCatalog.Models.Restaurant

@{
    ViewData["Title"] = "Details";
    
}



<div class="bradcam_area breadcam_bg overlay">
    <h3>@Model.Company.Name</h3>
</div>
<!-- bradcam_area_end -->
<!-- best_burgers_area_start  -->
<div class="best_burgers_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section_title text-center mb-80">
                    <span>@Model.Company.Description</span>
                    <h3>Menu</h3>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <b class="col-auto mr-auto">Adress: @Model.Adress</b>
            <b class="col-auto mr-auto">@Model.Phone</b>

            <div class="col-auto snicons">
                <a href="#"><i class="fab fa-vk fa-2x"></i></a>
                <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
            </div>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <a class="text-danger btn-link" asp-action="Create" asp-controller="Sections" asp-route-restId="@(Model.Id)" asp-route-menuId="@(Model.MenuId)">Добавить раздел</a>
        }

        @foreach (var section in Model.Menu.Sections)
        {

                       <h2 class="mb-0">
                            
                                @(section.Name)
                            
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a class="btn" type="button" asp-controller="Sections" asp-action="Delete" asp-route-id="@(section.Id)" asp-route-restId="@(Model.Id)">
                                    &times;
                                </a>
                            }

                        </h2>
                    
                    
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a class="text-danger btn-link" asp-action="Create" asp-controller="Categories" asp-route-restId="@(Model.Id)" asp-route-sectId="@(section.Id)">Добавить категорию</a>
                        }

                        @foreach (var category in section.Categories)
                        {

                    <div class="card-body">
                        <h2>
                            @category.Name
                            @if (User.Identity.IsAuthenticated)
                            {<a class="btn" type="button" asp-controller="Categories" asp-action="Delete" asp-route-id="@(category.Id)" asp-route-restId="@(Model.Id)">
                                    &times;
                                </a>
                            }
                        </h2>
                        <div class="row">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a class="text-danger btn-link" asp-action="Create" asp-controller="Dishes" asp-route-restId="@(Model.Id)" asp-route-catId="@category.Id">Добавить блюдо</a>
                        }

                        @foreach (var food in category.Dishes)
                        {
                        <form asp-action="Create" asp-controller="OrderDishes" asp-route-dishId="@food.Id" asp-route-restId="@Model.Id">

                            <div class="col-xl-6 col-md-6 col-lg-6">
                                <div class="single_delicious d-flex align-items-center">
                                    <div class="thumb">
                                        <img src="~/img/burger/4.png" alt="...">
                                    </div>
                                    <div class="info">
                                        <h3><a class="btn btn-primary" asp-controller="Dishes" asp-action="Details" asp-route-id="@food.Id">@food.Name</a></h3>
                                        <p>@food.Description</p>
                                        <span>@food.Price р</span>
                                        <button class="btn btn-info" type="submit">@food.Price р</button>
                                    </div>
                                </div>
                            </div>

                        </form>
                            <a class="btn btn-link" type="button" asp-controller="Dishes" asp-action="Delete" asp-route-id="@(food.Id)" asp-route-restId="@(Model.Id)">
                                удалить
                            </a>
                        }
                    </div>
                                </div>
                        }
                    
                
            
        }

    </div>
</div>